---
import "../styles/globals.css";
import "../styles/fonts.css";
import Nav from "./Nav.astro";

import Footer from "./Footer.astro";

const { title = "Moboil", description = "", current = "" } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    {description ? <meta name="description" content={description} /> : <meta name="description" content="Moboil - Mobile oil change service in the Tampa area. We come to you." />}
    <title>{title}</title>
    <link rel="icon" href="/favicon.ico" />
    <link
      href="https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap"
      rel="stylesheet"
    />
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet" />

    <!-- Facebook Meta Tags -->
    <meta property="og:type" content="website">
    <meta property="og:title" content="Moboil - Mobile Oil Changes">
    <meta property="og:description" content="Moboil - Mobile oil change service in the Tampa area. We come to your car, wherever it is.">
    <meta property="og:image" content="/media/logo.png">

    <!-- Twitter Meta Tags -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Moboil - Mobile Oil Changes">
    <meta name="twitter:description" content="Moboil - Mobile oil change service in the Tampa area. We come to your car, wherever it is.">
    <meta name="twitter:image" content="/media/logo.png">
  </head>
  <body>
    <header>
      <Nav current={current} />
    </header>
    <main class="w-full">
      <slot />
    </main>
    <Footer />
  </body>
</html>
